html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}
/* 
img {
    max-width: 100%;
    height: auto;
} */

html{
    margin-left: 1vh;
    margin-right: 1vh;
}

#produto{
    display: flex;
    flex-direction: column;
}

#produto img{
    width: 95vw;
    text-align: center;
}

.produto-info span{
    margin: 0 5vw;
}

#produto-nome{
    font-size: 3vh;
}

#produto-versoes{
    display: flex;
    align-items: center;
    justify-content: center;
}

#produto-versoes div{
    width: 18vw;
    height: 2.5vh;
    margin: 3vw;
    background-color: black;
}